# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/firebase-config.ts
.firebaserc
firebase.json
firestore.indexes.json
firestore.rules
.firebase/hosting.LmZpcmViYXNlXGthcmFva2UtNjUyOTFcaG9zdGluZw.cache
.firebase/karaoke-65291/hosting/index.html
.firebase/karaoke-65291/hosting/pexels-neosiam-593467.jpg
.firebase/karaoke-65291/hosting/assets/@firebase-294a3b3d.js
.firebase/karaoke-65291/hosting/assets/@remix-run-26da6aec.js
.firebase/karaoke-65291/hosting/assets/arrow-left-circle-0b43e462.svg
.firebase/karaoke-65291/hosting/assets/arrow-right-circle-d6b42c30.svg
.firebase/karaoke-65291/hosting/assets/delete-1-d0caa641.svg
.firebase/karaoke-65291/hosting/assets/filter-65c8d15c.svg
.firebase/karaoke-65291/hosting/assets/firebase-4e6d0783.js
.firebase/karaoke-65291/hosting/assets/idb-81bdbf9b.js
.firebase/karaoke-65291/hosting/assets/index-d858cb56.css
.firebase/karaoke-65291/hosting/assets/index-e7b939ad.js
.firebase/karaoke-65291/hosting/assets/loading-1fc22ad4.svg
.firebase/karaoke-65291/hosting/assets/pexels-neosiam-593467-7ff2aa42.jpg
.firebase/karaoke-65291/hosting/assets/react-0a073788.js
.firebase/karaoke-65291/hosting/assets/react-dom-466e6510.js
.firebase/karaoke-65291/hosting/assets/react-router-b4a92912.js
.firebase/karaoke-65291/hosting/assets/react-router-dom-7885e17e.js
.firebase/karaoke-65291/hosting/assets/scheduler-109dd2c2.js
