.admin {
	/* position: relative; */
	margin: 0 auto;
	height: 100%;
	width: 100%;
	max-width: 700px;
	overflow: hidden;
}

.labelName,
.labelInput {
	padding: 0.5rem;
}

.add-cancel-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	padding: 1rem;
	max-width: 300px;
	justify-items: center;
}

.add-cancel-cancel,
.create-room-cancel {
	background-color: rgb(var(--error-rgb), 0.8);
	min-width: 100px;
}

.add-cancel-create,
.create-room-create {
	background-color: rgb(var(--primary-rgb));
	min-width: 100px;
}
