.admin-queue-song-dialog,
.queue-song-dialog {
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;
	margin: auto;
	border-radius: 6px;
}

.admin-queue-song-dialog {
	max-height: calc(100% - 3rem);
	bottom: 0;
	display: grid;
	grid-template-rows: auto auto 1fr;
}

.queue-song-dialog form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1em;
	justify-items: center;
}

.queue-song-dialog > form > label {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}
.queue-song-dialog-header {
	text-align: center;
	padding: 1rem;
}
