.user-landing {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    gap: 5rem;
    /* Set the animation properties */
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    /* Set the initial opacity to 0 */
    opacity: 1;
}

.landingText {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 95px;
    line-height: 1em;
    font-family: 'Pacifico';
}

.room-code-container,
.room-code-form {
    display: grid;
    justify-items: center;
    gap: 0.5rem;
}

.set-room {
    height: max-content;
    width: fit-content;
    text-align: center;
}

input.set-room {
    padding: 1rem;

}


/* Define a keyframe animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}