.user-room {
    padding: 4rem 0 1rem;
    display: grid;
    justify-items: center;
    gap: 1rem;
    width: 100%
}

.user-room h1 {
    margin: 0;
}

.user-room-content-wrapper {
    background-color: rgb(var(--dark-rgb), 50%);
    width: 95%;
    margin: 0 3px;
    padding: 3px;
}

.songs-table {
    position: relative;
    max-height: 500px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.song-list {
    background-color: rgb(var(--light-rgb), 10%);
    width: 100%;
    height: 100%;
    border-collapse: collapse;

}

.song-list caption {
    background: rgb(var(--dark-rgb));
}

.song-list thead {
    position: sticky;
    top: -1px;
    background: rgb(var(--light-rgb));
    color: rgb(var(--dark-rgb), 95%);
}


.song-list td {
    /* text-transform: lowercase; */
    text-transform: capitalize;
    padding-left: 0.1rem;
}

.song-list tr td {
    height: 40px;
}

.song-list tr:nth-child(even) {
    background-color: rgb(var(--light-rgb), 25%);
}

.filter-songs {
    margin: 0 auto;
    /* margin: 1rem; */
    padding: 1rem;
    background-color: rgb(var(--accent1-rgb), 40%);
    transition: all 500ms;
}

.collapse.filter-songs {
    /* padding: 0; */
    background-color: rgb(var(--dark-rgb));
}

.filter-form-title {
    display: flex;
    justify-content: center;
    flex: auto;
}

.collapse .filter-form-title {
    display: flex;
    flex: none;
}

.collapse .dummy {
    flex: auto;
}

.dummy {
    flex: 0;
    transition: flex 500ms;
}

.filter-songs-form {
    display: grid;
    gap: 1em;
    justify-items: center;
}

.filter-form {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    transition: grid-template-rows 500ms, margin 500ms;
}

.collapse .filter-form {
    grid-template-rows: 0fr;
    grid-template-columns: 0fr;
}

.filter-form form {
    overflow: hidden;
}

.filter-songs-form label input {
    border: auto;
}

.songs-table .toolbar {
    margin: 5px;
}

.table-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cancelButton,
.searchButton,
.prevButton,
.nextbutton {
    background-color: transparent;
    padding: 0;
    border-radius: 50%;
}

.prevButton:disabled span,
.nextbutton:disabled span {
    filter: invert(0.3);
}

.cancelButton-span,
.search-span,
.icon-prevButton,
.icon-nextButton {
    display: block;
    height: 2em;
    width: 2em;
    margin: 0;
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(0.9)
}

.icon-prevButton {

    background-image: url(../../../assets/arrow-left-circle.svg);
}

.icon-nextButton {
    background-image: url(../../../assets/arrow-right-circle.svg);
}

.search-span {
    background-image: url(../../../assets/filter.svg);
}

.cancelButton-span {
    background-image: url(../../../assets/delete-1.svg);
}

.filter-songs-form label {
    display: grid;
    grid-template-columns: 2em 1fr;
    grid-template-areas: "del search search";
    justify-items: end;

}

.filter-songs-form label :nth-child(1) {
    grid-area: del;
}

.filter-songs-form label :nth-child(3),
.filter-songs-form label :nth-child(2) {
    grid-area: search;
}