#root {
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
}

.App {
    position: relative;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
}

.App::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(assets/pexels-neosiam-593467.jpg);
    background-size: cover;
    filter: blur(2px);
    z-index: -1;
    animation: pan-image 15s linear infinite;
}

.App::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(var(--light-rgb), 8%);
    filter: blur(5px);
    z-index: -1;
}

.content {
    position: relative;
    margin: 0;
}

.language-picker {
    margin-left: auto;
    margin-right: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    display: grid;
    justify-items: end;
    grid-template-areas: "a";
}

.language-selector {
    display: grid;
    grid-template-rows: 0fr;
}

.selector-buttons {
    opacity: 0;
    transition: opacity 600ms;
}

.show .selector-buttons {
    opacity: 1;
}

.language-selector.show {
    grid-template-rows: 1fr;
    transition: grid-template-rows 250ms;
}

.selector-buttons {
    overflow: hidden;
}

.language-hamb {
    outline: 0;
    border: 0;
    padding: 0.5rem;
    background-color: transparent;
}

button.language-hamb:focus,
button.language-hamb:focus-visible {
    outline: 0;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes invert {
    0% {
        filter: invert(0.5);
    }

    50% {
        filter: invert(1);
    }

    100% {
        filter: invert(0.5);
    }
}

.loading {
    display: block;
    height: 2em;
    width: 2em;
    margin: 0;
    background-image: url(assets/loading.svg);
    background-repeat: no-repeat;
    background-size: contain;
    animation: spin 1s linear infinite, invert 1.1s linear infinite;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: rgb(250, 250, 250, 50%);
    margin: 5px 0;
}


@keyframes pan-image {
    0% {
        background-position: 36% 42%;
        background-size: 200%;
    }

    20% {
        background-position: 30% 35%;
        background-size: 220%;
    }

    20.0001% {
        /* -- View 2 -- */
        background-position: 60% 85%;
        background-size: 220%;
    }

    40% {
        background-position: 49% 61%;
        background-size: 240%;
    }

    40.0001% {
        /* -- View 3 -- */
        background-position: 80% 42%;
        background-size: 220%;
    }

    60% {
        background-position: 74% 13%;
        background-size: 250%;
    }

    60.0001% {
        /* -- View 4 -- */
        background-position: 0% 0%;
        background-size: 300%;
    }

    80% {
        background-position: 15% 14%;
        background-size: 330%;
    }

    80.0001% {
        /* -- View 5 -- */
        background-position: 80% 10%;
        background-size: 240%;
    }

    100% {
        background-position: 72% 14%;
        background-size: 280%;
    }
}