#root {
	height: 100%;
	font-size: large;
	font-size: 1.2rem;
}

.App {
	position: relative;
	display: grid;
	grid-template-areas:
		"nav-bar"
		"content";
	height: 100%;
	height: calc(100% + 3rem);
	grid-template-rows: 3rem auto;
	align-items: center;
}

.App::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url("/pexels-neosiam-593467.jpg");
	/* background-color: rgb(var(--light-rgb), 0.1); */
	/* background-color: gainsboro; */
	background-size: contain;
	background-repeat: repeat;
	filter: blur(1px);
	z-index: -1;
}
.App:has(.user-landing)::before {
	animation: pan-image 20s linear infinite;
}

.App::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgb(var(--light-rgb), 0.2);
	/* background-color: gainsboro; */
	filter: blur(1px);
	z-index: 0;
}

.content {
	z-index: 1;
	grid-area: content;
	margin: 0 auto;
	height: calc(100% - 0.5rem);
	width: calc(100% - 0.5rem);
	overflow: hidden;
}

.language-hamb {
	outline: 0;
	border: 0;
	padding: 0;
	background-color: transparent;
}

.loading-error-container {
	position: relative;
	min-width: 2rem;
}

@keyframes pan-image {
	0% {
		background-position: 36% 42%;
		background-size: 200%;
	}

	20% {
		background-position: 30% 35%;
		background-size: 220%;
	}

	20.0001% {
		/* -- View 2 -- */
		background-position: 60% 85%;
		background-size: 220%;
	}

	40% {
		background-position: 49% 61%;
		background-size: 240%;
	}

	40.0001% {
		/* -- View 3 -- */
		background-position: 80% 42%;
		background-size: 220%;
	}

	60% {
		background-position: 74% 13%;
		background-size: 250%;
	}

	60.0001% {
		/* -- View 4 -- */
		background-position: 0% 0%;
		background-size: 300%;
	}

	80% {
		background-position: 15% 14%;
		background-size: 330%;
	}

	80.0001% {
		/* -- View 5 -- */
		background-position: 80% 10%;
		background-size: 240%;
	}

	100% {
		background-position: 72% 14%;
		background-size: 280%;
	}
}
