:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    --dark-rgb: 0, 20, 39;
    --primary-rgb: 64, 121, 140;
    --accent1-rgb: 198, 216, 255;
    --accent2-rgb: 224, 141, 121;
    --error-rgb: 211, 34, 34;
    --light-rgb: 240, 242, 239;


    --colorDark: rgb(var(--dark-rgb));
    --colorMain: rgb(var(--primary-rgb));
    --colorAccent1: rgb(var(--accent1-rgb));
    --colorAccent2: rgb(var(--accent2-rgb));
    --colorLight: rgb(var(--ligth-rgb));

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: -10px -10px;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    overflow: hidden;
}


h1 {
    font-size: 2.2em;
    line-height: 1.1;
}
h3 {
    margin: 0.5rem;
}
select,
input {
    border: 0;
    /* height: calc(1rem + 4px); */
    padding: 0.5rem;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: rgb(var(--accent1-rgb), 50%);
    color: rgb(var(--light-rgb));
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: rgb(var(--accent2-rgb));
}

button:disabled {
    background-color: gray;
    color: rgb(var(--light-rgb),50%);
}

